<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http:
       xmlns:xsi="http:
       xsi:schemaLocation="http:
                           http:

    
    <bean id="bookRepository" class="com.library.repository.BookRepository" />

    <!-- 
       Bean creation for BookService.
       The property element invokes the setBookRepository setter method,
       passing a reference to the bookRepository bean created above.
    -->
    <bean id="bookService" class="com.library.service.BookService">
        <property name="bookRepository" ref="bookRepository" />
    </bean>

</beans>

